<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>にゃも♡イーゲル＠オセロニア</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="images/favicon.ico"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style type="text/css">
        hr {
            border-top: 1px solid #e0e0e0;
        }

        #cupHistoryList {
        }

        #cupHistoryList img {
            width: 15px;
            height: 15px;
        }

        #cupHistoryList2 img {
            margin-top: -3px;
            width: 15px;
            height: 15px;
        }

    </style>
</head>
<body style="background-color:#fcfcfc">
<img src="images/header.png" style="width: 100%;">
<div class="container">

    <div style="padding-top:10px;">
        <h4>自己紹介</h4>

        <div style="display:flex;flex-flow:row;align-items:center;">

            <a href="https://twitter.com/nyam_othellonia">
                <div style="display:flex;flex-flow:column;align-items:center;justify-content: center;width:80px;">
            <span>
                        <img src="images/igel_othello.png" width="50px"/>
                    </span>
                    <span>にゃも</span>
                </div>
            </a>

            <div>
                オセロニアにハマってます。<a
                    href="https://xn--cckp5c6czi2302avwxa.gamematome.jp/game/964/wiki/%E3%82%AD%E3%83%A3%E3%83%A9%E3%82%AF%E3%82%BF%E3%83%BC%E6%83%85%E5%A0%B1_No.601~700_%EF%BC%BB%E5%8F%96%E3%82%8A%E6%86%91%E3%81%8B%E3%82%8C%E3%81%9F%E9%87%9D%E9%BC%A0%EF%BC%BD%E3%82%A4%E3%83%BC%E3%82%B2%E3%83%AB"
                    target="_blank">イーゲルちゃん</a>が好きです。趣味はイラストを描くこと。ツールとかを作るのが得意です٩( 'ω' )و

            </div>
        </div>
        <hr>
        <h4>ツール</h4>
        <p>
            <a href="https://nyamothellonia.github.io/ranryo/"><img src="images/ranryo_icon.png" width="40px"
                                                                    height="40px"> 蘭陵王調整手助けツール</a>
        <p>
            蘭陵王をリーダーにしたときのルキア対策に、蘭陵王より低いレベルに調整するための概算レベルを出すツールです。
        </p>
        <p>
            <a href="https://nyamothellonia.github.io/feriya-material-checker/">闘化素材チェッカー</a>
            フェリヤや守護者の闘化素材一覧を見ることができます。
        </p>
        <hr>
        <h4>オセロニア歴(上から新しい順)</h4>
        <p>
            <small>
                <a href="https://twitter.com/nyam_othellonia/status/873213293686431744">2017.6 旧カンスト(ランク200)</a><br>
                <a href="https://twitter.com/i/moments/857809914466410496">2017.4 初レジェンド(29位)</a><br>
                <a href="https://twitter.com/nyam_othellonia/status/833323223357886464">2017.2 旧旧カンスト(ランク150)</a><br>
                <a href="https://twitter.com/nyam_othellonia/status/816208278451458050">2017.1 旧クラスマッチマスタークラス昇格</a><br>
                2016.9 オセロニア開始<br>

            </small>

        </p>

        <hr>
        <h4>カップ戦歴</h4>

        <small id="cup-event">

            <div id="cupHistoryList">
                <div v-for="history in historyList">
                    {{history.year}}
                    <a v-for="m in history.month" :href="m.url" target="_blank"><img
                            :src="'images/rank'+m.rank+'.png'" :title="m.title"></a>
                </div>
            </div>

            <!--
            <div id="cupHistoryList2" v-for="history in historyList">
                <a :href="history.url"><img :src="'images/rank'+history.rank+'.png'"> {{history.title}}</a>
            </div>
            -->
        </small>

        <script>
            var app4 = new Vue({
                el: '#cup-event',
                data: {
                    historyList: [
                        {
                            year: "2017",
                            month: [

                                {
                                    url: 'https://twitter.com/i/moments/935412892291047426',
                                    rank: 2,
                                    title: 'WC杯252位 (2017.12)'
                                },
                                {
                                    url: 'https://twitter.com/i/moments/947671867715751936',
                                    rank: 2,
                                    title: 'MB杯919位 (2017.11)'
                                },
                                {
                                    url: 'https://twitter.com/i/moments/925887775378874368',
                                    rank: 4,
                                    title: 'BS杯10261位 (2017.10)'
                                },
                                {
                                    url: 'https://twitter.com/i/moments/915069247298052097',
                                    rank: 2,
                                    title: 'SE杯312位 (2017.9)'
                                },
                                {
                                    url: 'https://twitter.com/i/moments/902489931884281856',
                                    rank: 3,
                                    title: 'SS杯5230位 (2017.8)'
                                },
                                {
                                    url: 'https://twitter.com/i/moments/890784972717441024',
                                    rank: 2,
                                    title: 'SF杯145位 (2017.7)'
                                },
                                {
                                    url: 'https://twitter.com/i/moments/878101453176397824',
                                    rank: 1,
                                    title: 'RB杯85位 (2017.6)'
                                },
                                {
                                    url: 'https://twitter.com/i/moments/867954648887341056',
                                    rank: 1,
                                    title: 'MG杯98位 (2017.5)'
                                },
                                {
                                    url: 'https://twitter.com/i/moments/857809914466410496',
                                    rank: 1,
                                    title: 'CF杯29位 (2017.4)'
                                },
                                {
                                    url: 'https://twitter.com/i/moments/845125377336889349',
                                    rank: 2,
                                    title: 'SB杯670位 (2017.3)'
                                },
                                {
                                    url: 'https://twitter.com/i/moments/834978774303174656',
                                    rank: 2,
                                    title: 'GA杯376位 (2017.2)'
                                },
                                {
                                    url: 'https://twitter.com/i/moments/824830300454678529',
                                    rank: 2,
                                    title: 'HG杯776位 (2017.1)'
                                }
                            ]
                        },

                        {
                            year: "2016",
                            month: [

                                {
                                    url: 'https://twitter.com/i/moments/824951411351826434',
                                    rank: 2,
                                    title: 'WB杯365位 (2016.12)'
                                },
                                {
                                    url: 'https://twitter.com/i/moments/824952916209332224',
                                    rank: 3,
                                    title: 'OB杯1227位 (2016.11)'
                                },
                                {
                                    url: 'https://twitter.com/i/moments/824954417254313984',
                                    rank: 3,
                                    title: 'MT杯1173位 (2016.10)'
                                }
                            ]
                        }

                    ]
                }
            })
        </script>

        <hr>
        <a href="https://sketch.pixiv.net/@nyamothellonia">pixiv Sketch</a> /
        <a href="https://www.pixiv.net/member.php?id=24992838">pixiv</a>
        <div style="height: 480px; width:100%">
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            <a class="twitter-moment" data-lang="ja" href="https://twitter.com/i/moments/818105402244009985">イラストまとめ</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

        </div>

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-101029652-1', 'auto');
            ga('send', 'pageview');
        </script>
    </div>
</body>
</html>
